**1-Write a Python program to calculate the length of a string using 2 ways

In [187]:
name="mahmoud"
len(name)

7

In [188]:
name="mahmoud"
lenght=0
for i in name:
    lenght+=1
    
lenght

7

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [189]:
word=input()

if len(word)<2:
    res="Empty String"
else:
    res=word[:2]+word[-2:]
res

mahmoud

'maud'

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [190]:
word=input()
if len(word)<3:
    print(word)
else:
    if word[-3:]=="ing":
        print(word+"ly")
    else:
        print(word+"ing")

mahmoud
mahmouding

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [191]:
def long(l):
    counter=0
    maxx=None
    for name in l:
        if len(name)>counter:
            counter=len(name)
            maxx=name
    return(print(maxx,counter))

long(["ahmed","mahmoud","adbelrahman"])

adbelrahman 11

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [1]:
word=input()
print(word[-1:]+word[1:-1]+word[0])

mahmoud
dahmoum

In [12]:
word=input()
word=list(word)
word[0],word[-1]=word[-1],word[0]
(str),word

mahmoud

(str, ['d', 'a', 'h', 'm', 'o', 'u', 'm'])

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [193]:
str="mahmoud"
result = "" 
for i in range(len(str)):
    if i % 2 == 0:
        result = result + str[i]
result

'mhod'

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [14]:
words="Mahmoud eldawly ahmed mohammed"
word=words.split()
s=set()
for w in word:
    s.add((w, words.count(w)))
s

{('Mahmoud', 1), ('ahmed', 1), ('eldawly', 1), ('mohammed', 1)}

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [8]:
script=input()
print(script.lower())
print(script.upper())

wfds
wfds
WFDS

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [12]:
def sco(name):
    if len(name)%4==0:
        print(name[::-1])
    
sco("maherfgm")

mgfreham

**10- Write a Python program to remove a newline in Python

In [13]:
name='''mahmoud
qddw fqw
is fwegf'''
print(name.replace("\n",""))

mahmoudqddw fqwis fwegf

**11-Write a Python program to check whether a string starts with specified characters

In [3]:
name="mahmoud"
if name[0]=="m":
  print("yes")
else:
  print("no")

yes

**12- Write a Python program to add prefix text to all of the lines in a string

In [6]:
name='''mahmoud
mohammed
shogaa
'''
l=name.splitlines()
for line in l:
    print("eng", line)

eng mahmoud
eng mohammed
eng shogaa

**13-Write a Python program to print the following numbers up to 2 decimal places

In [8]:
number=25.153
print(round(number,2))

25.15

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [9]:
number=25.153
print("+",round(number,2))

+ 25.15

**15-Write a Python program to display a number with a comma separator

In [12]:
number=1.23456
n=str(number)
n.replace(".",",")

'1,23456'

**16-Write a Python program to reverse a string using 2 ways

In [23]:
name="mahmoud"
print(name[::-1])

duomham

In [24]:
name="mahmoud"
for i in range(len(name)-1,-1,-1):
    print(name[i],end="")

duomham

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [33]:
name="mahmoud"
chs=[]
for i in name:
    chs.append(i)
mydic=dict()
for i in chs:
    mydic[i]=name.count(i)
mydic

{'m': 2, 'a': 1, 'h': 1, 'o': 1, 'u': 1, 'd': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [40]:
name= "aabbccdd"
for i in name:
    if name.count(i) == 1:
        print(i)
        break

**19-Write a Python program to remove spaces from a given string

In [38]:
name="asf asvw df"
print(name.replace(" ",""))

asfasvwdf

**20-Write a Python program to count the number of non-empty substrings of a given string

In [41]:
def num(str):
    le=len(str);
    return int(le*(le+1)/2);
num("mahmoud")

28

**21-write a Python program to swap first and last element of any list.

In [42]:
l=["mahmoud","mohammed","shogaa"]
l[0],l[-1]=l[-1],l[0]
l

['shogaa', 'mohammed', 'mahmoud']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [43]:
List = [23, 65, 19, 90]
pos1=int(input())
pos2=int(input())
l[pos1],l[pos2]=l[pos2],l[pos1]
l

0
1

**23- search for the all ways to know the length of the list

In [46]:
l=[1,2,3]
print(len(l))
counter=0
for i in l:counter+=1
print(counter)

3
3

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [48]:
max([10,20,15,30])

30

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [49]:
min([100,10,20,60])

10

**26-search for if an elem is existing in list

In [52]:
l=[1,2,3,4,5]
if l.count("mahmoud")==0:
    print("not found")

not found

**27- clear python list using different ways

In [53]:
l=[1,2,3,4,5]
l.clear()
l

[]

In [55]:
l=[1,2,3,4,5]
while len(l)!=0:
    l.pop()
l

[]

**28-remove duplicated elements from a list

In [56]:
l=[1,2,3,3,4,5]
l=set(l)
l=list(l)
l

[1, 2, 3, 4, 5]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [95]:
keys=["name","age","salary"]
values=["mahmoud",24,122]
d=dict()
for i in range(0,len(keys)):
     d[keys[i]]=values[i]

d

{'name': 'mahmoud', 'age': 24, 'salary': 122}

**30-write a python program to count unique values inside a list using different ways

In [97]:
l=["mahmoud","mohammed","shogaa"]
r= len(set(l))
r

3

In [99]:
listt = ['apple', 'orage', 'apple', 'banana', 'apple', 'apple', 'orange', 'grape', 'grape', 'apple']

sset = set(listt)
num_values = len(sset)

print(num_values)

5

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [101]:


test_list = [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
K = int(input())
res = []
for i in test_list:  
    freq = test_list.count(i)
    if freq > K and i not in res:
        res.append(i)
print("The required elements : " + str(res))

2
The required elements : [4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [105]:

arr1=[1,2,2,3,4,5]
n=int(input())
arr2 = []    
for i in range(1, n):
        r = max(arr1[i], arr1[i-1])
        arr2.append(r)
for ele in arr2 :
        print(ele,end=" ")

6
2 2 3 4 5

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [107]:
L=[1, 2, 3]
      
for i in range(3):
    for j in range(3):
        for k in range(3):
            if (i!=j and j!=k and i!=k):
                print(L[i], L[j], L[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [119]:
from itertools import combinations

test_list = [1,2,3]
idx=0
temp = combinations(test_list, 2)
for i in list(temp):
    idx = idx+1
    print ( i)

(1, 2)
(1, 3)
(2, 3)

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [117]:
 List_1 = ["a","b"]
List_2 = [1,2]
result=[]
for i in List_1:
    for j in List_2:
        result.append((i, List_2[List_2.index(j)]))

result

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [111]:
l=[1,1,2,3,4,5,1,2,1]
item=1
c = l.count(item)
for i in range(c):
    l.remove(item)
l

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [115]:
list1 = ['Gfg', 'is', 'best']
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
res = [list1[idx] for idx in list2]             
print(res)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [116]:
listt = [(4, 5, 6, 4, 4), (4, 4, 3), (4, 4, 4), (3, 4, 9)]
K =int(input())
N = int(input())
res = [ele for ele in listt if ele.count(K) == N]
print( res)

4
3
[(4, 5, 6, 4, 4), (4, 4, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [114]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
for i in range(len(array[0])):
    sortedcolumn = sorted(array, key = lambda x:x[i])
print(sortedcolumn)

[[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [112]:
myDict = {'ravi': 10, 'rajnish': 9,'sanjeev': 15, 'yash': 2, 'suraj': 32}
 
myKeys = list(myDict.keys())
myKeys.sort()
sortedd = {i: myDict[i] for i in myKeys}
 
print(sortedd)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [130]:
test_dict = {3:"mahmoud",4:"ahmed",7:"mohammed",1:"shogaa"}
myKeys = list(test_dict.keys())
k=int(input())
for i in myKeys:
    if (i>k):
        test_dict.pop(i)
test_dict

3

{3: 'mahmoud', 1: 'shogaa'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [134]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = dict()
for d in (dic1, dic2, dic3):
    dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [135]:
dt = {'a': 'juice', 'b': 'grill', 'c': 'corn'}

for key in dt:
    print(key, dt[key])

a juice
b grill
c corn

**44- Write a Python script to merge two Python dictionaries

In [136]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic4 = dict()
for d in (dic1, dic2):
    dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [140]:
dic1={1:10, 2:20}
max(dic1.values())
min(dic1.values())

10

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [145]:
dic1={'c1': 'Red', 'c2': 'Green', 'c3': None}
dic1 = {key:value for (key, value) in dic1.items() if value is not None}
dic1

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [147]:
tup=(1,2,3)
tup[0]

1

**48-Write a Python program to unpack a tuple into several variables

In [151]:
tuplex = (4, 8, 3) 
n1, n2, n3 = tuplex
print(n1+n2+n3)

15

**49-Write a Python program to add an item to a tuple

In [157]:
tup = ("apple", "banana", "cherry")
y = list(tup)
y.append("orange")
tup = tuple(y)
tup

('apple', 'banana', 'cherry', 'orange')

**50-Write a Python program to convert a tuple to a string

In [160]:
tup = ('g', 'e', 'e', 'k', 's')
str = ''
for item in tup:
     str = str + item
str

'geeks'

**51-Write a Python program to convert a list to a tuple

In [162]:
l=["mahmoud","mohammed"]
l=tuple(l)
l

('mahmoud', 'mohammed')

**52-Write a Python program to reverse a tuple

In [167]:
tup = ("apple", "banana", "cherry")
l=list(tup)
l.reverse()
l

['cherry', 'banana', 'apple']

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [168]:
l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
print([t[:-1] + (100,) for t in l])

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [170]:
word="python 3.0"
tup=tuple(word)
tup

('p', 'y', 't', 'h', 'o', 'n', ' ', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [172]:
nums = ((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4))
result = [sum(x) / len(x) for x in zip(*nums)]
result

[30.5, 34.25, 27.0, 23.25]

**56-Write a Python program to add member(s) to a set.

In [174]:
s={1,3,5,6}
s.add(7)
s

{1, 3, 5, 6, 7}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [175]:
s={1,3,5,6,6,7,7,1,3}
s

{1, 3, 5, 6, 7}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [176]:
A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}
print( A | B)
print( A & B)
print( A - B)
print( A ^ B)

{0, 1, 2, 3, 4, 5, 6, 8}
{2, 4}
{0, 8, 6}
{0, 1, 3, 5, 6, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [178]:
A = {0, 2, 4, 6, 8}
max(A)
min(A)

0

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [186]:
lst = [1, 5, 3, 7, 9]
K = 12
res = []
while lst:
    num = lst.pop()
    diff = K - num
    if diff in lst:
         res.append((diff, num))
res.reverse()
res

[(5, 7), (3, 9)]