In [2]:
import pandas as np

In [3]:
df=np.DataFrame({'col2': [150, 170, 160],
                                  'col1': [70, 55, 60]},
                                 index=[3, 2, 1])

In [7]:
df.sort_index(axis=0,inplace=True) #=>for rows
df.sort_index(axis=1,inplace=True) #=>for columns
df

   col1  col2
1    60   160
2    55   170
3    70   150